@model Lab05._1.Models.Nvvmember

@{
    ViewBag.Title = "sử dụng HTML validate data";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h2>Thêm thành viên</h2>
    <hr />
    <div class="form-group">
        @Html.Label("Mã thành viên", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Id, new { Required = "Required", type = "number" })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Tên đăng nhập", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(Model => Model.Username, new { Required = "required" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Họ và tên", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(Model => Model.FullName, new { Required = "required" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Mật khẩu", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(Model => Model.Password, new { Required = "required" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Tuổi", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(Model => Model.Age, new { Required = "required", type = "number", min = "18", max = "60" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Email", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(Model => Model.Email, new { Required = "required", type="Email" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-default" />
        </div>
    </div>
</div>
}
