@model Lab05._1.Models.Nvvmember

@{
    ViewBag.Title = "chi tiết thành viên ";
}

<h2>chi tiết thành viên </h2>

<div>
    <h4>Nvvmember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã số
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            Tên đăng nhập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            Họ và tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            Mật khẩu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            Tuổi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Quay lại","CreateOne")
</p>
