﻿@model IEnumerable<NvvBaiKiemTraGK.Models.nvvKhoa>

@{
    ViewBag.Title = "NvvIndex";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("NVV: Create New", "NvvCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NvvTenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NvvTrangThai)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NvvTenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NvvTrangThai)
            </td>
            <td>
                @Html.ActionLink("NVV:Edit", "NvvEdit", new { id = item.NvvMaKH.Trim() }) |
                @Html.ActionLink("NVV:Details", "NvvDetails", new { id = item.NvvMaKH.Trim() }) |
                @Html.ActionLink("NVV:Delete", "NvvDelete", new { id = item.NvvMaKH.Trim() })
            </td>
        </tr>
    }

</table>