@model Nvv.Lesson10.Models.nvvMonHoc

@{
    ViewBag.Title = "NvvDetails";
}

<h2>Details</h2>

<div>
    <h4>nvvMonHoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NvvTenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NvvTenMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NvvSotiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NvvSotiet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NvvMaKH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
